$primary-color: #003f91;
$primary-color-dark: #01367c;
$secondary-color: #5da9e9;
$secondary-color-dark: #549bd6;
$tertiary-color: #e5f4e3;
$tertiary-color-dark: #d2dfd0;
$quaternary-color: #6d326d;
$quinary-color: #ffffff;


$title-color:#1f1f1f;
$subtitle-color:#303030;
$paragraph-color:#3d3d3d;


$black:#000;

.bg-primary{
    background-color: $primary-color;
}
.bg-secondary{
    background-color: $secondary-color;
}
.bg-tertiary-dark{
    background-color: $tertiary-color-dark;
}
.bg-quaternary{
    background-color: $quaternary-color;
}