$primary-color: #003f91;
$secondary-color: #5da9e9;
$tertiary-color: #e5f4e3;
$quaternary-color: #6d326d;
$quinary-color: #ffffff;


$title-color:#1f1f1f;
$subtitle-color:#303030;
$paragraph-color:#3d3d3d;
