@use "../utils/colors";
@use "../utils/mixins";

$primary: colors.$primary-color;
$primary-dark: colors.$primary-color-dark;
$secondary: colors.$secondary-color;
$secondary-dark: colors.$secondary-color-dark;
$tertiary: colors.$tertiary-color;
$tertiary-dark: colors.$tertiary-color-dark;
$quaternary: colors.$quaternary-color;
$quinary: $quinary-color;

.button {
  &.is-primary {
    @include mixins.generate-button(
      $primary,
      $quinary,
      $primary-dark,
      transparent
    );
  }
  &.is-secondary {
    @include mixins.generate-button(
      $secondary,
      $quinary,
      $secondary-dark,
      transparent
    );
  }
  &.is-tertiary {
    @include mixins.generate-button(
      $tertiary,
      colors.$title-color,
      $tertiary-dark,
      transparent
    );
  }

  &.is-quaternary {
    @include mixins.generate-button(
      $quaternary,
      $quinary,
      $quaternary,
      transparent
    );
  }
}
